.home{
    display: flex;
    font-family: "Nunito", sans-serif;
   
    .title{
        color: white;
    }
    .homeContainer{
        // background-color: lightblue;
        flex: 6;
        
    }
}