.navbar{
    height: 50px;
    border-bottom: 0.5px solid gray;
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#555;
    
    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;

        .search{
            display: flex;
            align-items: center;
            // border: 0.5px solid lightgray;
            padding: 3px;
            
            input{
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
            }

            .icon{
                font-size: 20px;
            }
        }
    }
}