.sidebar{

    // background-color: lightcoral;
    flex: 1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: white;
    
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: rebeccapurple;

        }
    }
    hr{
        height: 0;
        border: 0.5px solid lightgray;
    }

    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .title{
            font-size: 10px;
            font-weight: bold;
            color: gray;
            margin-top: 15px;
            margin-bottom: 5px;
            

        }

        li{
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            & :hover{
                background-color: #ece8ff;
            }
            .icon{
                font-size: 18px;
                color: #7451f8;
            }
            span{
                font-size: 17px;
                font-weight: 600;
                color: #888;
                margin-left: 10px;
            }
        }
        
    }
}