.JoinCard {
    width: 240px;
    height: 254px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
  }
  
  .JoinCard > * {
    margin: 0;
  }
  
  .JoinCard__title {
    font-size: 23px;
    font-weight: 900;
    color: #333;
  }
  
  .JoinCard__content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }
  
  .JoinCard__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .JoinCard__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .JoinCard__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
  .Join:hover {
    opacity: 0.8;
    
  } 
  .Reject:hover {
    opacity: 0.8;
    
  } 
  